@import '../../utils/variables.scss';

.dashboard {
  height: 100vh;
  display: flex;

  h4.ant-typography {
    font-family: $roboto;
    color: $white;
  }
}

.dashboard-button {
  width: 250px;
  height: 35px;

  font-family: $ibm-plex-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 16px;
  /* identical to box height */
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 5px;
  color: $white;

  margin: 0;
  cursor: pointer;
  /* Neutral/0 */
}

.dashboard-add-button {
  position: fixed;
  right: 64px;
  bottom: 64px;
  color: $dark-green;
  background-color: $secondary-color;
  width: 100px;
  height: 100px;

  .ant-btn-circle.ant-btn-lg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ant-btn-circle {
    width: 100px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 50%;
  }

  .ant-btn-icon-only.ant-btn-lg > * {
    font-size: 60 px;
  }
}
