@import '../../utils/variables.scss';

.dashboard {
  height: 100vh;

  h4.ant-typography {
    font-family: $roboto;
    color: $white;
  }

  .dashboard-page {
    padding: 48px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
