@import '../../utils/variables.scss';
@import 'pages/Dashboard/styles.scss';

.add-button {
  .ant-btn.dashboard-add-button {
    padding: 0;
    border: none;
    color: $secondary-color;
    & span {
      font-size: 3em;
    }
    width: 3em;
    height: 3em;
    background-color: $dark-green;

    :hover {
      color: $secondary-background;
    }
  }
}
