@import '../../utils/variables.scss';

.auth {
  background-color: $primary-background;
  height: 100vh;

  h4.ant-typography {
    font-family: $roboto;
    color: $white;
  }

  .auth-bg {
    background-image: url('../../assets/img/background.svg');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .auth-logo {
    padding-bottom: 30px;
  }

  .auth-page {
    padding: 48px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .auth-subtitle {
    color: $white;
    font-size: 1rem;
    text-align: center;
  }
}
