@import '../../utils/variables.scss';

.snippet-container {
  height: 300px;
  width: 300px;
  top: auto;
  padding-left: 3px;
  .ant-card.snippet-card {
    box-shadow: $card-box-shadow;
    padding: 10px;
    background: $snippet-card;
    border-radius: 16px;
  }
  .ant-card-bordered{
      border: none;
  }
  .ant-card-head{
      background-color: $secondary-color;
  }
}
