@import '../../utils/variables.scss';

.snippet-container {
  top: auto;
  padding-left: 3px;
  border-radius: 16px;

  .snippet-card {
    font-weight: 600;
  }

  .ant-card.snippet-card {
    box-shadow: $card-box-shadow;
    // padding: 10px;
    background: $snippet-card;
    // border-radius: 16px;
    height: max-content;
    width: 400px;
  }
  .ant-card-bordered {
    border: none;
  }
  .ant-card-head {
    background-color: $secondary-color;
    // border-radius: 16px;
    font-size: 14px;
    font: $raleway;
  }

  .ant-card-extra {
    font-size: 20px;
    padding: 0 0;
  }
}
