.App {
  text-align: center;
}

.App-title {
  /* Snippets.io */

  position: absolute;
  left: 45.07%;
  right: 34.93%;
  top: 14.81%;
  bottom: 71.11%;

  /* Heading/LG */

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.App-subtitle {
  /* something that explains what the web application does */

  position: absolute;
  left: 28.06%;
  right: 27.85%;
  top: 38.89%;
  bottom: 57.65%;

  /* Heading/XS */

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #fffdfd;
}
