.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 37.43%;
  right: 58.61%;
  top: 23.33%;
  bottom: 67.41%;
}
.App-title {
  /* Snippets.io */
  position: absolute;
  left: 42.78%;
  right: 37.36%;
  top: 24.2%;
  bottom: 68.02%;
  /* Heading/LG */

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.App-subtitle {
  /* something that explains what the web application does */

  position: absolute;
  left: 28.06%;
  right: 27.85%;
  top: 38.89%;
  bottom: 57.65%;

  /* Heading/XS */

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #fffdfd;
}
