.Subtitle {
  text-align: center;
}
.Subtitle-body {
  position: absolute;
  left: 36.39%;
  right: 36.25%;
  top: 39.88%;
  bottom: 57.78%;

  /* Title/LG */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #fffdfd;
}
