.Subtitle {
  text-align: center;
}
.Subtitle-body {
  position: absolute;
  left: 32.8%;
  right: 36.25%;
  top: 38%;
  bottom: 57.78%;

  width: 600px;
  height: 200px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #fffdfd;
}
