@import '../../utils/variables.scss';

.NavBar {
  background-color: #1D534E;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-between;
  z-index: 1;
  width: 100%;

  .App-logo {
    width: 187px;
    cursor: pointer;
  }

  .ant-input-affix-wrapper {
    height: 30px;
    width: 250px;
    border-radius: 25px;
    border-color: $input-turq;
    display: flex;
    align-items: flex-end;
    background-color: $input-turq;

    font-family: $ibm-plex-mono;
    font-style: normal;
    font-weight: normal;
  }

  .ant-input-affix-wrapper:focus {
    color: $darkmode_black;
  }

  .ant-input-borderless{
    color: $white;
  }

  .ant-btn {
    display: flex;
    align-items: flex-end;
    border: none;
    color: $white-primary;
    outline: none;
    padding-left: 15px;
  }
  .rightOfNav {
    display: flex;
    align-items: flex-end;
  }
  .Nav-avatar {
    color: $secondary-color;
    background-color: $black;
  }
  #searchID::placeholder {
    color: $white-primary;
    opacity: 1;
    font-family: $ibm-plex-mono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }
}
