@import '../../utils/variables.scss';

.folder {
  cursor: pointer;
  display: flex;

  .ant-card {
    background-color: $secondary-color;
    border-radius: 5px;
    width: 200px;
  }
  .ant-card-body {
    background-color: $secondary-color;
    border-radius: 15px;
  }
  .folder-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .folderIcon {
    color: $primary-background;
    font-size: 100px;
  }
  .folderName{
    color: $primary-background;
    font-size: 25px;
    text-align: center;
  }
  .delete-button {
    align-items: end;
  }
}
