$primary-background: #15322f;
$secondary-background: #62a09d;
$secondary-color: #8dc7c3;
$modal-color: #ceebe9;
$white: #e0f0f5;
$white-secondary: #ffff;
$white-primary: #e0f0f5;
$snippet-card: #e5e5e5;
$black: #313837;
$darkmode_black: #18191a;
$dark-green: #394946;
$text-black: #272822;
$input-turq: #297870;
$card-box-shadow: 0px 0px 2px 2px rgba(183, 188, 206, 0.6);
$card-background: linear-gradient(0deg, #262829, #262829), #fff6f6;

$raleway: Raleway, Arial, Helvetica Neue, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
$ibm-plex-mono: IBM Plex Mono, monospace;

.robotoM {
  font-family: $roboto;
  font-style: 'normal';
  font-weight: 600;
}

.robotoR {
  font-family: $roboto;
  font-style: 'normal';
  font-weight: 400;
}

.ralewayB {
  font-family: $raleway;
  font-style: 'normal';
  font-weight: 700;
}
