@import '../../utils/variables.scss';

.form-page{

  .add-snippet-card {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 350px;
    padding-left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $darkmode_black;
    border: none;

    .ant-card-body{
      background-color: transparent;
      width: 100%;
    }

  }
  
  .add-snippet-form {
  
    textarea.ant-input {
      background-color: #272822;
      border-color: $white-primary;
      font-family: $ibm-plex-mono;
      color: #fff;
    }
  
    .ant-input-lg {
      font-size: 22px;
      background-color: #272822;
      border-color: $white-primary;
      color: $white-primary;
    }
  
    .ant-btn-primary {
      color: #fff;
      background: #272822;
      border-color: $white-primary;
      border-radius: 20px;
    }
  
    .form-tags {
      background: #272822;
      margin-left: auto;
      margin-right: 0;
      .ant-select-selection-overflow {
        align-content: flex-end;
      }
      .ant-select-selection-placeholder {
        color: $white-secondary;
        font-weight: 600;
      }
      .ant-select-selection-item {
        background: $secondary-color;
        cursor: default;
        border: none;
        color: $black;
      }
    }
  }
  
  .ant-select {
    width: 30%;
    border-radius: 15px;
  
    .ant-select-selection-placeholder {
      color: $white-primary;
    }
  }

  .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: default;
    background: #272822;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #272822;
    border-color: $white-primary;
    color: $white-primary;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    cursor: default;
  }

  .editor {
  border-color: $secondary-background;
  .ant-select {
    width: 30%;
    border-radius: 15px;
    background-color: #272822;

    .ant-select-selection-placeholder {
      color: $white-primary;
    }

  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #272822;
    border-color: $white-primary;
    color: $white-primary;
  }

  .ant-select-arrow {
    color: $white-primary;
  }
}

.ace-editor-card{
  margin: 0;
  padding: 0;
  border: 1px solid $white-primary;


  .ant-card-body{
    margin: 0;
    padding: 0;
    
  }
}

}


