@import '../../utils/variables.scss';

.modal {
  .ant-modal-content {
    background-color: $modal-color;
    height: max-content;
    border-radius: 16px;
  }

  .ant-modal-header {
    background-color: $secondary-background;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  textarea.ant-input {
    background-color: #272822;
    font-family: $ibm-plex-mono;
    color: #fff;
  }

  .ant-input-lg {
    font-size: 22px;
    background-color: $modal-color;
  }

  .ant-select {
    width: 100%;
    border-radius: 15px;

    .ant-select-selection-placeholder {
      color: $black;
    }
  }

  .ant-btn-primary {
    color: #fff;
    background: $secondary-background;
    border-color: $secondary-background;
    border-radius: 20px;
  }

  .modal-tags {
    margin-left: auto;
    margin-right: 0;
    .ant-select-selection-overflow {
      align-content: flex-end;
    }
    .ant-select-selection-placeholder {
      color: $black;
      font-weight: 600;
    }
    .ant-select-selection-item {
      background: $secondary-color;
      border: none;
      color: $black;
    }
  }
}
